# Maven build output
**/target/
**/*.jar
**/*.war
**/*.class

# Node
frontend/**/node_modules/
frontend/**/.angular/
frontend/**/dist/

# Secrets
**/.env
**/application-prod.properties

# IDE
.idea/
*.iml
.vscode/
**/.classpath
**/.project
**/.settings/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
